.form__input {
  margin-bottom: 1.125rem;
}

.form__input label {
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #474747;
  margin-bottom: 0.5rem;
}

.form__input input {
  display: block;
  height: 40px;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #00adbb;
  border-radius: 0.25rem;
  outline: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form__input input:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
